VITE_CLERK_PUBLISHABLE_KEY="<CLERK_PUBLISHABLE_KEY>"
VITE_SUPABASE_URL="<SUPABASE_URL>"
VITE_SUPABASE_ANON_KEY="<SUPABASE_ANON_PUBLIC_KEY>"
VITE_CLERK_PUBLISHABLE_KEY="<CLERK_PUBLISHABLE_KEY>"

# Set to "true" to show the Supabase debug panel in the UI
# VITE_ENABLE_DEBUG="true"
